body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.errBd, .errYaRegistrado, .inputVacio{
    all: unset;
    color: red;
    font-size: 10px;
    width: 100%;
}

#registro-container{
    all: unset;
    background: url(./img/wp3913041.webp);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.form-registro{
    all: unset;
    background-color: rgb(38, 37, 37);
    margin: auto; 
    border:0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0px -20px 0px 0px rgb(123, 175, 230),
    0 0 10px rgba(0, 0, 0, 0.4), /* Resplandor cercano */
    0 0 25px 1px rgba(0, 0, 0, 0.5); /* Color secundario del resplandor */
    padding:30px;
    display: flex;
    align-items: center;
    height: 40vh;
    max-width: 30vh;
}

form.registro{
    all: unset;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

form.registro label{
    all: unset;
    width: 100%;
    margin-bottom: 20px;
}

form.registro input[type="text"]{
    all: unset;
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom:none;
    border-right: none;
    box-shadow: 10px 5px 11px rgb(14, 14, 14),
     -0px -1px 10px rgba(204, 201, 201, 0.5);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    color: whitesmoke;
}

form.registro input[type="submit"]{
    all: unset;
    width: 30%;  background-color: transparent;
    border-bottom:none;
    border-right: none;
    box-shadow: 10px 5px 11px rgb(14, 14, 14),
     -0px -1px 10px rgba(112, 112, 112, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: whitesmoke;
}

p.msj{
    all:unset;
    position: absolute;
    padding: 10px;
    top:20px;
    left: 20px;
    background-color: rgb(123, 175, 230);
    color: black;
    z-index: 999;
    font-size: 40px;
    border-radius: 15px;
    border-color: aliceblue;
    border: solid 3px aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}